{% for restaurant in restaurants %}
<div class="restaurant restaurant-list-item">
    {% if restaurant.img_restaurant %}
        <div class="restaurant-cover">
            <a href="{% url 'restaurants:restaurant' restaurant.id %}">
                <img src="{{ restaurant.img_restaurant.url }}" alt="{{ restaurant.title }}">
            </a>
        </div>
    {% endif %}
    <div class="restaurant-title-container">
        <h2 class="restaurant-title">
            <a href="{% url 'restaurants:restaurant' restaurant.id %}">
                {{ restaurant.title }}
            </a>
        </h2>
    </div>
    <div class="restaurant-container">
        <span class="restaurant-type-item">
                <i class="fas fa-layer-group type-item"></i>
                <span>{{ restaurant.category.name }}</span>
            </a>
        </span>
    </div>
    <div class="restaurant-meta-container">
        <div class="restaurant-content">
            <p>
                {{ restaurant.description }}
            </p>
        </div>
        <div class="restaurant-time">
            <span class="restaurant-time-item">
                <h3 class="restaurant-time-title"><i class="fas fa-stopwatch"></i> Horário de funcionamento:
                    <i>{{ restaurant.opening_hours|date:"H:i" }} às {{ restaurant.closing_hours|date:"H:i" }}</i>
                </h3>
            </span>
        </div>
    </div>
</div>
{% endfor %}