{% extends 'global/index.html' %}

{% block title%} Cadastrar Restaurante | {% endblock title %}

{% block content %}
    <div class="main-content main-content-detail container">
        <h1>Cadastrar Restaurante</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.country.label_tag }}
                {{ form.country }}
            </div>
            <div class="form-group">
                {{ form.state.label_tag }}
                {{ form.state }}
            </div>
            <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>
            <div class="form-group">
                {{ form.neighborhood.label_tag }}
                {{ form.neighborhood }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.opening_hours.label_tag }}
                {{ form.opening_hours }}
            </div>
            <div class="form-group">
                {{ form.closing_hours.label_tag }}
                {{ form.closing_hours }}
            </div>
            <div class="form-group">
                {{ form.img_restaurant.label_tag }}
                {{ form.img_restaurant }}
            </div>
            <div class="form-group">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}