{% extends 'global/index.html' %}

{% block title%} Cadastrar Restaurante | {% endblock title %}

{% block content %}
    <div class="main-content main-content-detail container">
        <h1>Cadastrar Restaurante</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.country.label_tag }}
                {{ form.country }}
            </div>
            <div class="form-group">
                {{ form.state.label_tag }}
                {{ form.state }}
            </div>
            <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>
            <div class="form-group">
                {{ form.neighborhood.label_tag }}
                {{ form.neighborhood }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.opening_hours.label_tag }}
                {{ form.opening_hours }}
            </div>
            <div class="form-group">
                {{ form.closing_hours.label_tag }}
                {{ form.closing_hours }}
            </div>
            <div class="form-group">
                {{ form.img_restaurant.label_tag }}
                {{ form.img_restaurant }}
            </div>
            <div class="form-group">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% comment %} <script>
            $(document).ready(function() {
                $('.select2').select2();
            });
    
            $(document).ready(function() {
                $('#id_country').change(function() {
                    var country_id = $(this).val();
                    $.ajax({
                        url: '/get-states/', 
                        type: 'GET',
                        data: { country_id: country_id },
                        success: function(data) {
                            $('#id_state').empty().append('<option value="">Selecione o estado</option>');
                            $.each(data.states, function(key, value) {
                                $('#id_state').append($('<option></option>').attr('value', key).text(value));
                            });
                            $('#id_city').empty().append('<option value="">Selecione a cidade</option>');
                            $('#id_neighborhood').empty().append('<option value="">Selecione o bairro</option>');
                        },
                    });
                });
            
                $('#id_state').change(function() {
                    var state_id = $(this).val();
                    $.ajax({
                        url: '/get-cities/',
                        type: 'GET',
                        data: { state_id: state_id },
                        success: function(data) {
                            $('#id_city').empty().append('<option value="">Selecione a cidade</option>');
                            $.each(data.cities, function(key, value) {
                                $('#id_city').append($('<option></option>').attr('value', key).text(value));
                            });
                            $('#id_neighborhood').empty().append('<option value="">Selecione o bairro</option>');
                        },
                    });
                });
            
                $('#id_city').change(function() {
                    var city_id = $(this).val();
                    $.ajax({
                        url: '/get-neighborhoods/',  
                        type: 'GET',
                        data: { city_id: city_id },
                        success: function(data) {
                            $('#id_neighborhood').empty().append('<option value="">Selecione o bairro</option>');
                            $.each(data.neighborhoods, function(key, value) {
                                $('#id_neighborhood').append($('<option></option>').attr('value', key).text(value));
                            });
                        },                    });
                });
            
            });
            </script> {% endcomment %}
    </div>
{% endblock content %}